<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>{{@site_name}}</title>
    <link rel="icon" href="../static/images/favicon.ico">
    {{!-- 苹果固定到桌面后显示的图标 --}}
    {{!--<link rel="apple-touch-icon" href="/assets/apple-touch-icon.png">--}}
    <link rel="stylesheet" href="../static/css/style.css">
<!--    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>-->
</head>
<body>
<header>
<div class="container clearfix">
    <div class="imglogo fl">
        <img src="../static/images/logo.png" alt="">
    </div>
    <h1 class="textlogo">hw</h1>
        <ul class="nav">
            <li><a href="/home">home</a></li>
            <li><a href="/archive">archive</a></li>
        </ul>

</div>
</header>
{{#if error}}
<div class="error-msg">
    {{error}}
</div>
{{/if}}
{{#if success}}
<div class="success-msg">
    {{success}}
</div>
{{/if}}

{{{body}}}

<footer>

</footer>
<script>
    window.onload = function () {
        var err = document.querySelector('.error-msg');
        var succ = document.querySelector('.success-msg');
        hideMsg(err);
        hideMsg(succ);
        function hideMsg(dom) {
            if(dom){
                setTimeout(function () {
                    dom.style.display = 'none'
                }, 2000);
            }
        }

    }
</script>
<script defer='defer' src="../static/js/warnLayer.js"></script>
<script src="../static/js/article.js"></script>
</body>
</html>