<div class="">
    <form class="sign">
        <h3 class="title">系统登录</h3>
        <div class="user">
            <input autocomplete="off" placeholder="HW?" type="text"  validateevent="true" >
        </div>
        <div class="password">
            <input autocomplete="off" placeholder="请输入密码" type="password"  validateevent="true" class="">
        </div>
        <div class="">
            <button type="button" class="submit" >
                登录
            </button>
        </div>
    </form>

</div>